In [2]:
import numpy as np
import pandas as pd
import quandl
from pandas_datareader import data
import matplotlib as plt
quandlkey = 'Hzy-FNUsocwvszN4Q3qB'
quandl.ApiConfig.api_key=quandlkey

In [3]:
DIX = pd.read_csv("DIXRAW.csv")

In [4]:
DIX['IDIX'] = DIX['ShortVolume']/DIX['TotalVolume']

In [5]:
DIX['Price'] = 1

for row in DIX:
    price =

SyntaxError: invalid syntax (<ipython-input-5-199d49e9b45b>, line 4)

In [6]:
start_date = '2020-06-01'
end_date = '2020-06-01'

panel_data = data.DataReader('AAPL', 'yahoo', start_date, end_date)

In [7]:
panel_data

                  High         Low    Open       Close    Volume   Adj Close
Date
2020-06-01  322.350006  317.209991  317.75  321.850006  20197800  321.850006

In [53]:
tickers = pd.read_csv("sp500.csv")
adds = pd.read_csv("sp500adds.csv")

In [24]:
sp500change = pd.read_csv("sp500change.csv")

In [65]:
newdf = tickers[tickers.Symbol.isin(adds.Ticker)]

##for adds.Ticker in adds:
  ##  tickers.drop

In [66]:
newdf

Empty DataFrame
Columns: [Symbol]
Index: []

In [54]:
adds.head()

,DateBeforeChange,DateAfterChange,Change,Ticker,Name,Sector,Exchange
0,20200520,20200521,1,WST,WEST PHARMACEUTICAL SERVICES INC,Health Care,New York Stock Exchange Inc.
1,20200508,20200511,1,DPZ,DOMINOS PIZZA INC,Consumer Discretionary,New York Stock Exchange Inc.
2,20200508,20200511,1,DXCM,DEXCOM INC,Health Care,NASDAQ
3,20200403,20200406,1,RTX,RAYTHEON TECHNOLOGIES CORP,Industrials,New York Stock Exchange Inc.
4,20200402,20200403,1,CARR,CARRIER GLOBAL CORP,Financials,New York Stock Exchange Inc.